@import "../css/reset.css";
@import "../css/superfish.css";
@import "../css/flexslider.css";
@import "../css/sveta.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic&subset=latin,cyrillic-ext,cyrillic);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}
html, body{height:100%;}
body {
  font-family:Verdana, sans-serif;
  font-size:14px;
  line-height:18px;
  color:#000;
  min-width:960px;
  background:url(../images/body_bg.jpg) 50% 0 repeat-x #e6e7ec;
  -webkit-text-size-adjust: none;
  border-top: 3px solid #091949;
  padding-top: 7px;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase;}
.f_left {float:left;}
.f_right {float:right;}
.al_right {text-align:right;}
.al_center {text-align:center;}
.main{margin:0 auto;width: 996px;}
.it{font-style:italic;}
.let{letter-spacing:-1.5px;}
.let1{letter-spacing:-0.5px;}
.clearfix:after{
  content:"";
  display:block;
  clear:both;
}

/*----------------------> Indents Zero <------------------*/

.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}
.sf-menu li:first-child{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_in-block{ display:inline-block;}

/*----------------------> Basic Colors <------------------*/
.lite_green{
  background:#8bc734;
  border-color:#8bc734;
}
.blue{
	background:#00acf1;
  border-color:#00acf1;
}
.orange{
	background:#fa9400;
  border-color:#fa9400;
}
.purple{
	background:#5d087a;
  border-color:#5d087a;
}
.red{
	background:#f11b19;
  border-color:#f11b19;
}
.green{
	background:#087747;
  border-color:#087747;
}
.black{
	background:#1d1d1e;
  border-color:#1d1d1e;
}
.letter_color{
	color:#7695c6;
}
.b_color{
  color:#000;
}
.light_purple{
  background:#f15342;
}
.l_purple_2{
  background:#989acc;
}
.l_purple_3{
  background:#5f6db4;
}
/*----------------------> Links And buttons <------------------*/
a[href^="mailto:"]{color:#2162af;}
a[href^="mailto:"]:hover{color:#000;}
.go_to_top{
  font-size:.9em;
  color:#78c3d6;
  border-bottom:1px dashed #78c3d6;
  display:inline-block;
  margin-bottom:45px;
}
.go_to_top:hover{
  color:#000;
  border-color:#000;
}
.buttons_sc{
  margin:20px 0 9px;
}
.button_sc:first-child{
  margin-left:0;
}
.button_sc{
  display:block;
  border-radius:10px;
  border:2px solid #fff;
  color:#fff;
  font-weight:bold;
  padding:10px;
  min-width:173px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  font-size:.9em;
  margin-left:-2px;
}
.fn_weight{
	font-weight:bold;
}
a {
  color:#000000;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#2162af;
}
 .link_style:hover a{
  color:#fff;
  text-decoration:none;
}
.link_style{
	/*font:18px Arial;*/
	color:#78c3d6;
	border-bottom:1px dashed #78c3d6;
	margin-left:100px;
}

.link_style:hover {
    color: #fff;
    border-color: #fff;
}
.link_style1{
	text-decoration:underline;
}
.link_style2{
	font:10px Verdana;
	color:#2162af;
}
.link_style8{
	color:#2162af;
}
.link_style9{
	color:#1b599f;
}
.button{
  display:inline-block;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.button:hover{
  background:;
  color:#000;
}
.link_m_top{
	margin-top:46px;
}
.content_box a:hover{
  color: #091949;
}

/*======================> Header <======================*/

header {position: relative;}
header h1{}
header h1 a {
  display:block;
  width:278px;
  height:85px;
  background:url(../images/logo.png) 0 0 no-repeat;
  text-decoration:none;
  text-indent:-9999px;
}
.header__top{
	height:110px;
	background:url(../images/1.jpg);
	border-bottom:3px solid #091949;
}
.header_top__middle{
	width:251px;
	letter-spacing:-1px;
	padding:42px 0 0 21px;
	font-style: italic;
	text-align: right;
	word-spacing: -3px;
	background: url("../images/16.png") 27px 46px no-repeat;	
}
 .header_top__middle span{
    display: inline-block;
    padding-top: 10px;
}
 .header_top__middle .let_size1{
    margin-bottom: -3px;
    letter-spacing: -2px;
}

.header_top__left{
	width: 418px;
	padding: 53px 0px 0 110px;
	text-shadow: 1px 1px 2px white;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;	
}

.header_top__right{
	width:150px;
	padding:49px 0 0 35px;
}
.header__bottom{
	height:67px;
	background:url(../images/2.jpg);
}
.logo{
	top: 10px;
	left:18px;
}
.seach{
	padding:17px 17px 0 0;
}

#search_form{
  background: url("../images/search_form.png") no-repeat;
  width: 213px;
  height: 34px;
  float: right;
  margin: 17px 17px 0 0 ;
  overflow: hidden;
}

.search_text{
  border: none;
  background: none;
  float: left;
  margin: 0;
  width: 165px;
  color: #fff;
  font-family:Verdana, sans-serif;
  font-size:14px;
  line-height:18px;
  padding: 7px 0 0 10px;
}

.search_submit{
  width: 34px;
  height: 34px;
  cursor: pointer;
  float: right;
  margin: 0;
  outline: none;
  border: none;
  background: url("../images/search_icon.png") 6px 9px no-repeat;
}

.header__bottom{
	padding-left:105px;
}
.header__bottom nav li a {
	font-family: 'Open Sans Condensed', sans-serif;
  font-weight:bold;
  font-size:1.2em;
	color:#fff;
	padding:10px;
}
.header__bottom nav li{
	background:url(../images/14.png) 0 0 no-repeat;
	background-position:0 0px;
  padding-top:13px;
}
.header__bottom nav li a:hover,.header__bottom nav li.current a{
  color: #000;
}
.let_size1{
	font-size: 32px;
	line-height: 36px;
	letter-spacing:-1px;
}
.let_size2{
	font-size:20px;
	line-height: 24px;
}
.let_size3{
	font-size:16px;
	margin-top:-5px;
}

/*=====================> Content ========================*/
#content {
	padding:0px 0px 0px 0px;
	background:url("../images/main_1.png") repeat-y;
}
.cont_pad{
	padding:0 0 0 0 !important;
}
.cont_pad{padding:0 0 0 0 !important;}

  .tabs_navigation{
    border-bottom: 1px solid #cccccc;
}

    .ui-tabs-nav li{
      float: left;
      border-radius: 5px 5px 0 0;
      margin: 0 1px;
      background: #f5f5f5;
      position: relative;
      box-shadow: inset 0 5px 5px #e7e7e7;
    }
    .ui-tabs-nav li:first-child{width: 79px;}
    .ui-tabs-nav li a{
      display: block;
      padding: 11px 14px 7px;
      font-size: 12px;
      color: #565656;
    }
    .ui-tabs-nav li.ui-state-active{
      background-color: #78c3d6;
      box-shadow: inset 0 5px 5px #45adc7;
    }
      .ui-tabs-nav li.ui-state-active:after{
        display: block;
        position: absolute;
        left: 50%;
        bottom: -5px;
        background: url("../images/active_stripe.png") no-repeat;
        width: 10px;
        height: 5px;
        margin: 0 0 0 -5px;
        content: "";
	}
		.ui-tabs-nav li.ui-state-active a{
        color: #091949;
	}
  .ui-tabs-panel{
    padding: 25px 0;
  }
.sidebar{
	width:180px;
	color:#fff;
	border-top:1px solid #fff;
}
.sidebar__box{
	padding:21px 20px 0 20px;
}
.content_box{
	background:#ffffff;
	padding:5px 27px 46px;
}
.breadcrump{
  padding: 5px 0 5px;
}
.list4_item1 .img, .list4_item2 .img {
	padding-left:20px;
}
.list4_item1{
	padding-bottom:15px;
}
.list4_item2{
	padding-bottom:30px;
}
.content_box span  {
	display:inline-block;
	margin-bottom:5px;
}
.container_box1{
	background:#dd6717;
	border-radius:10px;
	width:246px; 
	margin:20px -20px 20px 0px;
	padding:20px 32px 0px 18px;
}
.list5_item{
	padding-bottom:20px;
}
.container_box2{
	background:#0081b6;
	border-radius:10px;
	width:380px;
	padding:24px 40px 16px 20px;
}
.social_icons{
	padding:20px 0 14px 0;
}
.social_icons a{
  display:inline-block;
  margin-right:5px;
}
.border_bottom{
	border-bottom:1px dashed #fff;
}
.br_none{
	border-right:none !important;
}
.pd_bottom{
	padding-bottom:15px;
}
.list7{
	font:12px Verdana;
	line-height:18px;
}
.cont_title2{
	padding-bottom:15px;
}
.mr_sidebar{
	margin-right:-10px;
}
.popup_wrap{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.75);
  z-index:10;
  display:none;
}
.ie8 .popup_wrap{
  background:url("../images/popup_bg_ie.png") repeat;
}
.popup{
  width:754px;
  position:absolute;
  top:50%;
  left:50%;
  margin:0 0 0 -377px;
  padding:30px 20px;
  background:#fafafa;
}
.popup.type_2{
  width:432px;
  margin-left:-216px;
  padding:60px 20px;
  color:#4d4d4d;
}
.close_button{
  width:32px;
  height:32px;
  background:transparent url("../images/close_button.png") no-repeat;
  border:none;
  cursor:pointer;
  position:absolute;
  top:15px;
  right:15px;
  -webkit-transition:-webkit-transform .5s ease;
  transition:transform .5s ease;
}
.close_button:hover,#fancybox-close:hover{
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
}
.sc_links_container{
  margin:35px 0 10px;
}
.sc_links_container .sc_link:nth-child(2n+1){
  margin-left:0;
}
.sc_link{
  display:block;
  min-width:342px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  padding:12px 15px 23px 15px;
  background:#1460b0 url("../images/sc_link_bg.jpg") no-repeat left bottom;
  color:#78c3d6;
  margin:0 0 24px 32px;
  min-height: 94px;
}
.sc_link > span{
  display:block;
  font-size:.9em;
  color:#fff;
}
[id^=sc_]{
  position:relative;
  margin-bottom:40px;
}
.left_column_sc_50,.right_column_sc_50{
  width:50%;
  position:relative;
}
.left_column_sc{
  width:45%;
  min-height:1px;
}
.right_column_sc{
  width:55%;
  min-height:1px;
}
.grey_container_sc{
  font-weight:bold;
  background:#b7b8bb;
  width:100%;
  color:#fff;
  padding:15px 0;
  position:relative;
}
.grey_container_sc.type_2{
  width:164px;
  margin-top:70px;
  padding:50px 0;
  font-size:.95em;
}
.grey_container_sc.type_3{
  width:164px;
  padding:20px 10px;
  font-size:.95em;
  position:relative;
}
.grey_container_sc.type_4{
  margin-top:50px;
  padding:8px 10px;
}
.grey_container_sc .arrow_bottom_right{
  position:absolute;
  width:530px;
  height:283px;
  background:url("../images/arrow_bottom_right.png") no-repeat;
  left:45px;
  bottom:-293px;
}
[class*="_container_sc"]{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  border-radius:15px;
  border:3px solid #fff;
  -webkit-box-shadow:6px 10px 13px 0 rgba(0,0,0,0.25);
  -o-box-shadow:6px 10px 13px 0 rgba(0,0,0,0.25);
  -ms-box-shadow:6px 10px 13px 0 rgba(0,0,0,0.25);
  -moz-box-shadow:6px 10px 13px 0 rgba(0,0,0,0.25);
  box-shadow:6px 10px 13px 0 rgba(0,0,0,0.25);
  margin-bottom:15px;
}
.blue_container_sc,.green_container_sc,.light_purple_container_sc{
  background:#3150a8;
  padding:15px 10px;
  width:100%;
  position:relative;
  z-index:3;
}
.green_container_sc{
  background:#9bcc4e;
}
.light_purple_container_sc{
  background:#7173ba;
  color:#fff;
  font-weight:bold;
  font-size:.9em;
}
.blue_container_sc.type_2{
  width:235px;
  margin:90px auto 0;
  color:#fff;
  font-weight:bold;
  position:relative;
  font-size:.9em;
}
.arrow_top{
  position:absolute;
  top:-44px;
  left:50px;
  color:#000;
  width:inherit;
  font-weight:400;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  padding:0 10px;
}
.blue_container_sc .arrow_top:before,.arrow_eq:before,.blue_container_sc .arrow_top_right:before,
.bc_item_2:before,.gc_item_1:before{
  content:"";
  display:block;
  position:absolute;
  background:url("../images/arrow_top.png") no-repeat;
  width:14px;
  height:45px;
  top:-45px;
  left:50%;
  margin:0 0 0 -7px;
}
.arrow_top:after{
  content:"";
  position: absolute;
  display:block;
  width:4px;
  height:19px;
  background:#929497;
  bottom:-22px;
  left:50%;
  margin:0 0 0 -2px;
}
.arrow_left{
  position:absolute;
  color:#000;
  width:148px;
  left:-156px;
  font-size:.9em;
  line-height: 1em;
  top:0;
}
.arrow_left:after{
  content:"";
  display:block;
  width:11px;
  height:12px;
  background:url("../images/arrow_left.png") no-repeat;
  position:absolute;
  left:0;
  bottom:-12px;
}
.arrow_left:before{
  content:"";
  display:block;
  position:absolute;
  width:94%;
  height:4px;
  background:#929497;
  left:11px;
  bottom:-8px;
}
.blue_container_sc.type_3{
  width:257px;
  color:#fff;
  font-size:.9em;
  font-weight:bold;
  margin-top:153px;
}
.arrow_left:first-child + .arrow_left{
  top:57px;
}
.arrow_left:first-child + .arrow_left + .arrow_left{
  top:138px;
}
.arrow_left:first-child + .arrow_left + .arrow_left + .arrow_left{
  top:193px;
}
.arrow_eq{
  width:4px;
  height:134px;
  position:absolute;
  top:-154px;
  background:#929497;
  left:60px;
}
.arrow_eq:before{
  top:-11px;
}
.arrow_eq:after{
  content:"";
  display:block;
  width:12px;
  height:11px;
  background:url("../images/arrow_bottom.png") no-repeat;
  position:absolute;
  bottom:-11px;
  left:-4px;
}
.blue_container_sc .arrow_top_right{
  position:absolute;
  top:-50px;
  right:-130px;
  width:160px;
  font-weight:400;
  line-height:1em;
  color:#000;
  left:auto;
}
.blue_container_sc .arrow_top_right:before,.bc_item_2:before,.gc_item_1:before{
  background:url("../images/arrow_top_small.png") no-repeat;
  top:-38px;
  margin-left:-10px;
}
.blue_container_sc .arrow_top_right:after{
  content:"";
  display:block;
  width:44px;
  height:69px;
  background:url("../images/arrow_bottom_left.png") no-repeat;
  position:absolute;
  bottom:-75px;
  left:36px;
}
#sc_2 .blue_container_sc.type_2{
  margin-top:70px;
}
#sc_2 .arrow_top{
  top:-25px;
}
#sc_2 .arrow_top:after{
  height:0;
}
#sc_2 .blue_container_sc .arrow_top_right{
  top:-32px;
}
#sc_3 .tags_list,#sc_3 .buttons_sc{
  margin-left:-10px;
  margin-right:-10px;
}
#sc_3 .green_container_sc .buttons_sc{
  margin-top:38px;
}
#sc_3 .tags_list li{min-width:81px;}
.va_middle{
  vertical-align: middle;
}
#sc_3 .button_sc{
  min-width:162px;
  padding-left:9px;
  padding-right:8px;
}
#sc_3 .blue_container_sc,#sc_3 .green_container_sc{
  min-height:340px;
  padding-bottom:0;
  color:#fff;
}
#sc_3 .green_container_sc + .layer_2,#sc_3 .green_container_sc + .layer_2 + .layer_3,
#sc_3 .blue_container_sc + .layer_2,#sc_3 .blue_container_sc + .layer_2 + .layer_3{
  display:block;
  position:absolute;
  z-index:1;
  width:100%;
  min-height:352px;
  top:0;
  left:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  border-radius:15px;
  background:#9bcc4e;
  border:3px solid #fff;
  -webkit-box-shadow:6px 10px 13px 0 rgba(0,0,0,0.25);
  -o-box-shadow:6px 10px 13px 0 rgba(0,0,0,0.25);
  -ms-box-shadow:6px 10px 13px 0 rgba(0,0,0,0.25);
  -moz-box-shadow:6px 10px 13px 0 rgba(0,0,0,0.25);
  box-shadow:6px 10px 13px 0 rgba(0,0,0,0.25);
  margin-bottom:15px;
}
#sc_3 .green_container_sc + .layer_2 + .layer_3,
#sc_3 .blue_container_sc + .layer_2 + .layer_3{
  z-index:0;
  top:11px;
}
#sc_3 .blue_container_sc + .layer_2,#sc_3 .blue_container_sc + .layer_2 + .layer_3{
  background:#3150a8;
}
.n_mh{
  min-height:0px !important;
  min-height:auto !important;
  padding:5px !important;
}
.or{
  font-weight:bold;
  font-size:.9em;
  color:#fff;
  border-radius:12px;
  border:2px solid #fff;
  position:absolute;
  background:#000;
  padding:5px 12px;
  right:-27px;
  top:27px;
  z-index:4;
}
.arrow_top_sc3_right{
  position:absolute;
  width:134px;
  top:-63px;
  left:120px;
  font-weight:400;
  font-size:.9em;
  color:#000;
}
.arrow_top_sc3_right:before{
  content:"";
  width:79px;
  height:40px;
  display:block;
  background:url("../images/arrow_top_right.png") no-repeat;
  position:absolute;
  top:17px;
  left:-82px;
}
.arrow_right{
  position:absolute;
  height:4px;
  background:#929497;
  width:45px;
  right:-50px;
  top:50%;
  margin-top:-2px;
}
.arrow_right:after{
  content:"";
  display:block;
  width:11px;
  height:12px;
  position:absolute;
  right:-10px;
  top:-4px;
  background:url("../images/arrow_right.png") no-repeat;
}
#sc_3 .blue_container_sc.n_mh{
  margin:45px 0 20px;
}
#sc_3 .blue_container_sc.n_mh,#sc_3 .grey_container_sc.n_mh,
#sc_3 .green_container_sc.n_mh{
  font-size:.9em;
  font-weight: bold;
}
.arrow_top_2,.arrow_bottom_2{
  width:14px;
  height:12px;
  position:absolute;
  background:url("../images/arrow_top.png") no-repeat;
  left:50%;
  top:-19px;
  margin-left:-7px;
}
.arrow_bottom_2{
  background:url("../images/arrow_bottom.png") no-repeat;
  width:12px;
  top:-18px;
}
.grey_container_sc .arrow_top_2{
  left:auto;
  right:30%;
}
.grey_container_sc .arrow_bottom_2{
  left:30%;
}
.va_middle > * {
  display:inline-block;
  vertical-align: middle;
}
.va_middle:after{
  content:"";
  display:inline-block;
  height:100%;
  vertical-align: middle;
}
[class*="_container_sc"].m_bot_zero + [class*="_container_sc"]{
  margin-top:-3px !important;
}
.blue_container_sc.n_mh .list_sc,.light_purple_container_sc .list_sc,#sc_4 .blue_container_sc .list_sc{
  font-weight: normal;
  font-size:1.1em;
  text-align:left;
  padding:5px 0px !important;
}
.arrow_top_left_2{
  width:43px;
  height:37px;
  background:url("../images/sc3_top_left.png") no-repeat;
  position:absolute;
  left:-48px;
  top:-18px;
}
.blue_container_sc.type_4{
  margin-top:283px !important;
}
.rotate_arrow{
  width:78px;
  height:76px;
  background:url("../images/rotate_arrow.png") no-repeat;
  position: absolute;
  top:-80px;
  right:0;
}
[class^="bc_item_"],[class^="gc_item_"]{
  position:absolute;
  font-weight:normal;
  color:#000;
  line-height:1em;
}
[class^="gc_item_"]{
  font-size:0.9em;
}
[class^="bc_item_"]:after,[class^="bc_item_"]:before,
[class^="gc_item_"]:after,[class^="gc_item_"]:before{
  content:"";
  position:absolute;
  left:50%;
}
.bc_item_1{
  top:-220px;
  left:0;
  width:135px;
}
.bc_item_1:before,.bc_item_1:after,.bc_item_2:after,.bc_item_3:after,.bc_item_3:before,
.gc_item_1:after,.gc_item_2:after,.bc_item_4:after,.bc_item_4:before,.bc_item_5:after,
.bc_item_6:after{
  width:4px;
  background:#929497;
  height:34px;
  margin-left:-2px;
  top:-36px;
}
.bc_item_1:after,.bc_item_2:after,.gc_item_1:after,.gc_item_2:after,.bc_item_4:after,
.bc_item_5:after,.bc_item_6:after{
  top:auto;
  bottom:-28px;
  height:23px;
}
.bc_item_2{
  top:-220px;
  right:40px;
  width:168px;
}
.bc_item_2:after{
  bottom:-77px;
  height:69px;
}
.bc_item_2:before,.gc_item_1:before{
  margin-left:-7px;
}
.bc_item_3{
  width:314px;
  top:-114px;
}
.bc_item_3:after,.bc_item_3:before{
  top:auto;
  bottom:-67px;
  height:69px;
  left:30%;
}
.bc_item_3:before{
  left:auto;
  right:30%;
}
#sc_4 .grey_container_sc,#sc_4 .blue_container_sc,#sc_4 .green_container_sc{
  font-size:.9em;
  color:#fff;
  font-weight: bold;
}
.grey_container_sc.type_5{
  width:94%;
}
.grey_container_type_6{
  width:169px;
  position:relative;
  margin:140px 0 0;
}
.grey_container_type_6 .grey_container_sc:first-child + .grey_container_sc{
  position:absolute;
  top:13px;
  left:11px;
  z-index:2;
  height:109px;
}
.grey_container_type_6 .grey_container_sc:first-child + .grey_container_sc + .grey_container_sc{
  position:absolute;
  top:23px;
  left:20px;
  z-index:1;
  height:109px;
}
.grey_container_sc.type_6{
  padding:35px 20px;
  z-index:3;
}
.gc_item_1{
  top:-98px;
  left:0px;
  width:132px;
}
.gc_item_1:after{
  height:63px;
  bottom:-70px;
}
.gc_item_2{
  width:95px;
  top:-56px;
  left:102px;
}
.custom_arrow_top,.custom_arrow_bottom{
  position:absolute;
  width:4px;
  height:63px;
  background:#929497;
  top:-67px;
  left:50%;
  margin-left:-2px;
}
.custom_arrow_top:after{
  content:"";
  width:14px;
  height:12px;
  background:url("../images/arrow_top.png") no-repeat;
  position:absolute;
  top:-12px;
  left:-5px;
}
.blue_container_sc.type_5{
  margin-top:245px;
  width:258px;
}
.bc_item_4{
  width:135px;
  top:-179px;
  left:0;
}
.bc_item_4:before{height:40px;top:-43px;}
.bc_item_4:after{height:87px;bottom:-93px;}
.bc_item_5{
  width:168px;
  top:-151px;
  left:73px;
}
.bc_item_5:after{height:47px;bottom:-53px;}
.bc_item_5 .custom_arrow_top{height:58px;top:-60px;}
.bc_item_6{
  width:313px;
  top:-71px;
  left:0;
}
.bc_item_6 .custom_arrow_bottom{
  left:21.5%;
  bottom:-17px;
  height:23px;
}
.custom_arrow_bottom{
  top:auto;
}
.custom_arrow_bottom:after{
  content:"";
  width:12px;
  height:11px;
  display:block;
  position:absolute;
  bottom:-11px;
  left:-4px;
  background:url("../images/arrow_bottom.png") no-repeat;
}
#sc_4 .blue_container_sc img{
  margin-top:5px;
}
[class*="_container_sc"].n_mt{margin-bottom:0 !important;}
[class*="_container_sc"].n_mt + [class*="_container_sc"]{
  margin-top:-3px !important;
}
.grey_container_sc.type_4 .custom_arrow_top{
  left:30%;
  height:28px;
  top:-35px;
}
.grey_container_sc.type_4 .custom_arrow_bottom{
  left:auto;
  right:30%;
  height:28px;
  bottom:auto;
  top:-46px;
}
.eq_arrow{
  color:#000;
  position:absolute;
  width:135px;
  top:109px;
  left:-135px;
  font-weight:normal;
}
.eq_arrow:after{
  content:"";
  display:block;
  width:120px;
  left:50%;
  margin-left:-60px;
  height:12px;
  background:url("../images/eq_arrow.png") no-repeat;
  position:absolute;
  bottom:-12px;
}
.eq_arrow_min{
  width:60px;
  height:12px;
  position:absolute;
  top:20px;
  left:-63px;
  background:url("../images/eq_arrow_min.png") no-repeat;
}
.fancy_title{
  color:#2162af;
}
.contacts_1_list__item{
  border-top: 1px solid #ccc;
  padding-top: 18px;
}
.contacts_1_list__item .cont_title1{
  margin: 2px 0 15px 0;
}
.contacts_1_list .contacts_1_list__item:first-child{
  border: none;
  padding: 5px 0 9px 0;
}
.contacts_1_inform1, .contacts_1_inform2, .contacts_1_inform3{
  font-size: 12px;
  float: left;
  line-height: 8px;
}
.contacts_1_inform2{
  margin-left: 120px;
}
.contacts_1_inform3{
  margin-left: 88px;
  line-height: 0;
  padding-top: 2px;
}
.contacts_title{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
.text_info .link_style1{
  color: #2162af;
}
.img_man{
  display: block;
  background: url("../images/smart_contacts_1_man.jpg") no-repeat 0 100%;
  padding-left: 20px;
  font-size: 12px;
  float: left;
  margin-left: 88px;
}
.contacts_1_img_map{
  margin-top: 104px;
  padding-bottom: 28px;
}
.title_marg_top{
  margin-top: 9px;
}
.downloads_list_item{
  border-bottom: 1px solid #cccccc;
  padding: 0 30px 13px 1px;
  margin-top: 20px;
}
.downloads_list_item:first-child{
  margin: 0;
}
.downloads_img{
  width: 275px;
  margin: 2px 20px 0 0;
}
.downloads_img .link_style{
  font-size: 12px;
  float: right;
  margin-top: 13px;
} 
.downloads_box .cont_title1{
  margin-bottom: 13px;
}
.video_list{
  margin-top: 20px;
}
.video_list__item{
  margin-top: 38px;
}
.video_list__item:first-child{
  margin-top: 0;
}
.video_box{
  float: left;
  margin-left: 18px;
}
.video_box:first-child{
  margin-left: 9px;
}
.video_box .cont_title2{
  padding-bottom: 1px;
}
iframe{
  margin-bottom: 10px;
}
.video_box__time{
  font-size: 12px;
  color: #78c3d6;
  margin-bottom: 7px;
}
.video_box .link_style{
  font-size: 12px;
}
#yandexmap{
  height:650px;
}
/*Products*/

.container_products_left{
  padding:30px 0 30px 0;
  width:361px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  min-height:227px;
}
.container_products_right{
  padding:25px 0 25px 17px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  min-height:227px;
  width:361px;
  border-left:1px solid #cccccc;
}
.container_products_box{
  padding:10px 10px 0 20px;
}
.container_products_list_item:after,.container_products_list_item:before,.container_products_list:before,.container_products_list:after{
    display:block;
    position:absolute;
    height:1px;
    width:350px;
    bottom:0;
    background:#cccccc;
    content:"";
}
.container_products_list_item:after{
  right:0px;
}
.container_products_list_item:before{
  left:0;
}
.container_products_list:before{
  top:0;
  left:0;
}
.container_products_list:after{
  top:0;
  right:0;
}
.container_products_list h1{
  padding-bottom:5px;
}

.tabs_product_list.ui-tabs-nav li:first-child{
  width:205px;
}
.tabs_product_list.ui-tabs-nav li:nth-child(3n){
  width:400px;
}
.tabs_product_list.ui-tabs-nav li:nth-child(2n){
  width:105px;
}
.m_bot_product{
  margin-bottom:10px;
}
.m_bot_product1{
  margin-bottom:25px;
}
.container_products_img{
  padding:0 10px 20px 0;
}
.font_for_a_orange{
  color:#ff900b;
  border-bottom:1px dashed #ff900b;
}
.font_for_a_blue{
  color:#5ac2ff;
  border-bottom:1px dashed #5ac2ff;
}
.font_for_a_purple{
  color:#824798;
  border-bottom:1px dashed #824798;
}
.font_for_a__red{
  color:#e71e19;
  border-bottom:1px dashed #e71e19;
}
.font_for_a_green{
  color:#429672;
  border-bottom:1px dashed #429672;
}
.font_for_a_lime{
  color:#a6da60;
  border-bottom:1px dashed #a6da60;
}
.content_box table{
  width:100%;
  margin-bottom:25px;
}
.content_box table,.list7{
  font:12px Verdana;
  line-height:18px;
}
.content_box table tr {
  height:30px;
  border-bottom:1px solid #cccccc !important;
  padding:15px 0 10px 8px;
}
.content_box table td {
  padding-left:10px;
  vertical-align: middle;
}
.content_box table td sup{
  display:inline-block;
  margin:-3px 0 0 3px;
}
.content_box table td sup a{
  color:#507cba;
  font-size:.85em;
}
.content_box table td:first-child {
  padding-left:10px;
}
.content_box table tr:first-child{
  border-top:1px solid #cccccc !important;
  text-align:right;
}
.content_box table tr:nth-child(odd){
  background:#f9f9f9;
}


/*=====================> Paragraphs ========================*/

p {margin-bottom:15px;}
.p1{ padding-bottom:45px;}
.p2{ padding-bottom:60px;}
.p3{ padding-bottom:50px;}
.p4{ padding-bottom:30px;}
.p5{ padding-bottom:15px;}
.p6{ padding-bottom:45px;}
.p7{ margin-bottom:30px;}
.p8{ margin-bottom:5px;}
.p9{ margin-bottom:46px !important;}

/*=====================> Lists ========================*/
.container_products_list li{
  padding:5px 0;
}
.pagination_list{
  border:1px solid #dfdfdf;
  border-radius:4px;
  display:inline-block;
  overflow:hidden;
  margin-bottom:22px;
}
.pagination_list li:first-child a,.pagination_list li:last-child a{
  text-decoration: none;
}
.pagination_list li:first-child a{
  border-left:none;
}
.pagination_list a{
  display:block;
  width:34px;
  height:36px;
  line-height:36px;
  border-left:1px solid #dfdfdf;
  text-align:center;
  color:#2162af;
  text-decoration: underline;
}
.pagination_list a:hover,.pagination_list li.active a{
  background:#78c3d6;
  text-decoration: none;
  color:#000;
}
.tags_list li:first-child{
  margin-left:0;
}
.tags_list{
  margin:15px 0;
}
.tags_list li{
  float:left;
  min-width:85px;
  padding:4px 2px;
  border-radius:8px;
  border:2px solid #fff;
  margin-left:-2px;
  color:#fff;
  font-size:.9em;
}
.list_sc li{
  color:#fff;
  font-size:.9em;
  vertical-align: middle;
  margin:1px 0;
}
.list_sc li:before{
  content:"";
  display:inline-block;
  background:url("../images/list_disc.png") no-repeat 50% 0px;
  width:5px;
  height:5px;
  margin-right:6px;
  vertical-align: middle;
}
.list1  img{
	position:absolute;
	top:-4px;
	left:55px;
  z-index:2;
}
.list1 li{
	display:inline-block;
	margin-bottom:24px;
}
.list1 a{
	position:relative;
	padding:8px 0 5px;
	text-align:left;
	font:18px Arial;
}

.list1_item, .list1_link{
	display:inline-block;
	height:22px;
}
.list1_item{
	padding-left:6px;
	width:50px;
	background:#fff;
	text-align:left;
	color:#263d81;
}
.list1_link{
	width:93px;
	text-align:right;
	color:#fff;
	margin-left:28px;
	padding-right:3px;
  position:relative;
  z-index:1;
}
.list1_link:before,.list1_link:after{
  content:"";
  -webkit-transition:right 1s ease;
  transition:right 1s ease;
}
.list1_link:after{
  display:block;
  height:inherit;
  width:25px;
  background:inherit;
  position:absolute;
  right:0px;
  top:0;
  z-index:-1;
}
.list1_link:before{
  width:0;
  height:0;
  position:absolute;
  top:0;
  right:0;
  border-top:11px solid transparent;
  border-left-width:9px;
  border-left-style: solid;
  border-left-color: inherit;
  border-bottom:11px solid transparent;
  z-index:-1;
}
.list1 li a:hover .list1_link:after{
  right:-25px;
  -webkit-transition:right .2s ease;
  transition:right .2s ease;
}
.list1 li a:hover .list1_link:before{
  right:-34px;
  -webkit-transition:right .2s ease;
  transition:right .2s ease;
}
.list2 li{
  padding:0 0 12px 20px;
}
.img{
	background:url(../images/15.png)0 3px no-repeat;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/15.png) no-repeat;
  padding-left:20px;
 }


/*=====================> Titles ========================*/
h1{
	font:18px Verdana;
	line-height:18px;
}
h2{
  font:400 18px Verdana;
  line-height:18px;
  padding-bottom:15px; 
}
h3,h4{
  font-weight:normal;
}
h3{
	font:14px Verdana;
	line-height:18px;
	color:#fff;
	font-weight:bold;
}
 h3{
	padding-bottom:10px;
}
h4{
	font-family:Arial, sans-serif;
    font-size:18px;
    line-height:18px;
    color:#fff;
}
h4.pad1{
	padding: 32px 0 15px 53px;
}
.popup h5{
  font-family: inherit;
  font-weight: bold;
}

.pd_top{
	padding-top:20px;
}
.title1{
	background:url(../images/1.png)0 33px no-repeat;
}

.title2{
	 background:url(../images/2.png)0 27px no-repeat;
}
.title3{
	 background:url(../images/3.png)0 25px no-repeat;
	 display:inline-block;
	 width:140px;
}
.title4{
	 background:url(../images/4.png)0 10px no-repeat;
}

.text{
	font:12px Verdana;
	line-height:14px;
	color:#fff;
	font-style:Regular;
}
.title2.icon1{

}
.title2.icon2{
  
}
.t_ind{ margin-bottom:px;}
.t_ind1{ margin-bottom:px;}
.t_ind2{ margin-bottom:px;}

.cont_title1{
  margin-bottom: 17px;
}

/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*================================>> Contact Form <<========================================*/
.test_product{
  margin:55px 0 10px;
}
.test_product li{
  margin:17px 0;
}
.test_product input,label{
  display:inline-block;
  vertical-align: middle;
}
.test_product label{
  width:164px;
  text-align: right;
  cursor:pointer;
}
.test_product input[type="text"],.test_product input[type="email"],.test_product textarea{
  border:1px solid #cccccc;
  background:#fff;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  width:375px;
  height:31px;
  padding:2px 10px;
  font-size:inherit;
  font-family: inherit;
  margin-left:15px;
}
.test_product .message_container{
  display:none;
  vertical-align: middle;
  width:175px;
  font-size:.9em;
  margin-left:3px;
}
.content_box .test_product textarea{
  width:536px;
}
.content_box .test_product{
  margin-top:25px;
}
.content_box .test_product input[type="text"],.content_box .test_product input[type="email"]{width:355px;}
.test_product input[type="text"].invalid + .message_container{
  display:inline-block;
  color:#f11b19;
}
.test_product input[type="text"].invalid{
  border:2px solid #f11b19;
}
.test_product input[type="email"].valid + .message_container{
  display:inline-block;
  color:#8bc734;
}
.test_product input[type="email"].valid{
  border:2px solid #8bc734;
}
input[id="phone"] + .message_container{
  display:inline-block;
  color:#a7a7a7;
}

.test_product textarea{
  width:548px;
  height:130px;
  display: inline-block;
  vertical-align: top;
  margin-bottom:10px;
}
.products .p_wrap{
  width:538px;
  display:inline-block;
  margin-left:15px;
}
.test_product input[type="checkbox"]{
  display:none;
}
.test_product input[type="checkbox"] + label{
  width:238px;
  font-size:0.9em;
  text-align:left;
  padding-left:28px;
  background:url("../images/checkbox.png") no-repeat;
}
.test_product input[type="checkbox"]:checked + label,.ie8 form input[type="checkbox"] + label.active{
  background-position:0 -18px;
}
.products ul{
  display: inline-block;
}
.products li:first-child{
  margin-top:0;
}
.products li{
  margin:7px 0;
}
.test_product .not_required:after{
  content:"*";
  color:#78c3d6;
  display:inline-block;
  vertical-align: top;
  margin-left:3px;
}
.form_info{
  color:#a7a7a7;
  display: inline-block;
  margin-left:184px;
  font-size:0.9em;
}
.test_product input[type="submit"]{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  min-width:132px;
  height:34px;
  padding:5px 10px;
  background:url("../images/button_gradient.jpg") repeat-x;
  cursor: pointer;
  border:1px solid #0061b7;
  border-radius:5px;
  font-size:1.1em;
  color:#fff;
  margin-left:184px;
  -webkit-transition:color .4s ease;
  transition:color .4s ease;
}
.test_product input[type="submit"]:hover{
  color:#000;
}
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
#contact-form textarea, #contact-form input {
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contact-form input {
  width:347px;
}
#contact-form textarea {
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}
  
#contact-form label {
  display:inline-block;
  position: relative;
  min-height:45px;
  overflow:hidden;
 }
#contact-form label.message {
  display:block;
  padding-bottom:0;
}
#contact-form .button {
  margin-left:8px;
}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
  width:74px;
}
.adress dt{ margin-bottom:14px;}

.demo{}
.demo:hover{ text-decoration:underline;}
/*
<dl class="adress">
  <dt><strong>8901 Marmora Road,<br>Glasgow, D04 89GR.</strong></dt>
  <dd><span>Freephone:</span>+1 800 559 6580</dd>
  <dd><span>Telephone:</span>+1 800 603 6035</dd>
  <dd><span>FAX:</span>+1 800 889 9898</dd>
  <dd>E-mail: <a href="#" class="demo">mail@demolink.org</a></dd>
</dl>
<div class="social">
	<a href="#" title="RSS"><img src="images/soc1.png" alt=""></a>
	<a href="#" title="Twitter"><img src="images/soc2.png" alt=""></a>
	<a href="#" title="Facebook"><img src="images/soc3.png" alt=""></a>
	<a href="#" title="Google +"><img src="images/soc4.png" alt=""></a>
</div>
*/

/*================================>> Footer <<========================================*/
footer {
	font:11px Verdana;
	text-align:center;
	border-top:2px solid #c7c8cc;
	padding:20px 0 34px 0;
	color:#000;
}
footer  a{
	text-decoration:underline;
	color:#000;
}

.footer_img{
	right:0;
	top:20px;
}
footer .social a:first-child{margin: 0 0 0 0;}
footer .social a:hover img{
  margin-top:-32px;
}
@media only screen and (max-height: 768px){
  .popup_wrap{
    overflow-y:scroll;
  }
}