@import "../css/reset.css";
@import "../css/superfish.css";
@import "../css/flexslider.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}
html, body{height:100%;}
body {
  font-family:Verdana, sans-serif;
  font-size:14px;
  line-height:18px;
  color:#000;
  min-width:960px;
  background:url(../images/body_bg.jpg) 50% 0 repeat-x #e6e7ec;
  -webkit-text-size-adjust: none;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase;}
.f_left {float:left;}
.f_right {float:right;}
.al_right {text-align:right;}
.al_center {text-align:center;}
.main{margin:0 auto;width: 996px;}
.it{font-style:italic;}
.let{letter-spacing:-1.5px;}

/*----------------------> Indents Zero <------------------*/

.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_in-block{ display:inline-block;}

/*----------------------> Basic Colors <------------------*/
.lite_green{
background:#8bc734;
}
.blue{
	background:#00acf1;
}
.orange{
	background:#fa9400;
}
.purple{
	background:#5d087a;
}
.red{
	background:#f11b19;
}
.green{
	background:#087747;
}
.black{
	background:#1d1d1e;
}
/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
 .link_style:hover a{
  color:#fff;
  text-decoration:none;
}
.link_style{
	/*font:18px Arial;*/
	color:#78c3d6;
	border-bottom:1px dashed #78c3d6;
	margin-left:100px;
}
.button{
  display:inline-block;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.button:hover{
  background:;
  color:#000;
}
.link_m_top{
	margin-top:46px;
	text-decoration:underline;
	color:#2162af;
}

/*======================> Header <======================*/

header {}
header h1{}
header h1 a {
  display:block;
  width:278px;
  height:85px;
  background:url(../images/logo.png) 0 0 no-repeat;
  text-decoration:none;
  text-indent:-9999px;
}
.header__top{
	height:113px;
	background:url(../images/1.jpg);
	border-bottom:3px solid #091949;
}
.header_top__middle{
	width:248px;
	padding:55px 0 0 20px;
	font-style:oblique;
	
}


.header_top__left{
	width:418px;
	padding:55px 0px 0 110px;
	text-shadow: 1px 1px 2px white;
	font-size:16px;
	line-height:20px;
	font-style:oblique;
	
}
.header_top__right{
	width:146px;
	padding:50px 0 0 35px;
}
.header__bottom{
	height:67px;
	background:url(../images/2.jpg);
}
.logo{
	bottom:23px;
	left:18px;
}
.seach{
	padding:17px 17px 0 0;
}
input[type="seach"]{
	background:url(../images/17.png);
	width:216px;
	height:34px;
	-webkit-appearance: none;
	border:none;
}
.header__bottom{
	padding-left:110px;
}
.header__bottom nav li a {
	font:16px Arial;
	color:#fff;
	padding:22px 8px 0 8px;
}
.header__bottom li{
	background:url(../images/14.png) 0 0 no-repeat;
	background-position:0 10px;
}
.let_size1{
	font-size:20px;
	letter-spacing:-1px;
}
.let_size2{
	font-size:30px;
}
.let_size3{
	font-size:16px;
	padding-left:130px;
	margin-top:-5px;
}

/*=====================> Content ========================*/
#content {
  padding:0px 0px 0px 0px;
  min-height: 1500px;
  background:#1b599f;
}
.cont_pad{padding:0 0 0 0 !important;}

.sitebar{
  width:180px;
  color:#fff;
  border-top:1px solid #fff;
}
.sitebar__box{
	padding:20px 20px 0 20px;
}
.content_box{
	background:#ffffff;
	padding:0 30px 45px 30px;
}
.container_box1{
background:#dd6717;
border-radius:10px;
width:246px; 
margin:30px -20px 30px 0px;
padding:20px 32px 22px 18px;
}
.container_box1 li {
	padding-bottom:30px;
}
.container_box2{
background:#0081b6;
border-radius:10px;
margin: 20px 0px 30px 0;
width:380px;
padding:24px 40px 26px 20px;
}
.social_icons{
	padding:20px 0 14px 0;
}
.social_icons img{
	padding-left:10px;
}
.social_icons img :first-child{
	padding-left:0px;
}
.border_bottom{
	border-bottom:1px dashed #fff;
	padding-bottom:15px;
}
.link_underline{
	text-decoration:underline;
	font-size:10px;
}
/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.p2{ margin-bottom:0;}
.p3{ margin-bottom:0;}
.p4{ margin-bottom:0;}
.p5{ margin-bottom:0;}
.p6{ margin-bottom:0;}


/*=====================> Lists ========================*/
.list1{

}
.list1  img{
	position:absolute;
	top:0px;


}
.list1 li{
	display:inline-block;
	margin-bottom:24px;

}
.list1 a{
	position:relative;
	padding:8px 0 5px;
	text-align:left;
	font:18px Arial;
	
}

.list1_item, .list1_link{
	display:inline-block;
	height:22px;
}
.list1_item{
	padding-left:6px;
	width:50px;
	background:#fff;
	text-align:left;
	color:#263d81;
}
.list1_link{
	width:93px;
	text-align:right;
	color:#fff;
	margin-left:28px;
	padding-right:3px;
}
.list2{}
.list2 li{
  background:url(../images/15.png) no-repeat;
  padding:0 0 13px 20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/15.png) no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
h3{
	font:14px Verdana;
	line-height:18px;
	padding-bottom:20px;
}
h4{
	font-family:Arial, sans-serif;
    font-size:18px;
    line-height:18px;
    color:#fff;
    padding: 20px 0 15px 53px;
}
.title1{
   background:url(../images/1.png)0 20px no-repeat;
}

.title2{
	 background:url(../images/2.png)0 15px no-repeat;
}
.title3{
	 background:url(../images/4.png)0 10px no-repeat;
}
.title4{
	 background:url(../images/3.png)0 10px no-repeat;
}

.text{
  font:11px Verdana;
  line-height:14px;
  color:#fff;
  font-style:Regular;
}
.title2.icon1{

}
.title2.icon2{
  
}
.t_ind{ margin-bottom:px;}
.t_ind1{ margin-bottom:px;}
.t_ind2{ margin-bottom:px;}

/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
#contact-form textarea, #contact-form input {
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contact-form input {
  width:347px;
}
#contact-form textarea {
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}
  
#contact-form label {
  display:inline-block;
  position: relative;
  min-height:45px;
  overflow:hidden;
 }
#contact-form label.message {
  display:block;
  padding-bottom:0;
}
#contact-form .button {
  margin-left:8px;
}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
  width:74px;
}
.adress dt{ margin-bottom:14px;}

.demo{}
.demo:hover{ text-decoration:underline;}
/*
<dl class="adress">
  <dt><strong>8901 Marmora Road,<br>Glasgow, D04 89GR.</strong></dt>
  <dd><span>Freephone:</span>+1 800 559 6580</dd>
  <dd><span>Telephone:</span>+1 800 603 6035</dd>
  <dd><span>FAX:</span>+1 800 889 9898</dd>
  <dd>E-mail: <a href="#" class="demo">mail@demolink.org</a></dd>
</dl>
<div class="social">
	<a href="#" title="RSS"><img src="images/soc1.png" alt=""></a>
	<a href="#" title="Twitter"><img src="images/soc2.png" alt=""></a>
	<a href="#" title="Facebook"><img src="images/soc3.png" alt=""></a>
	<a href="#" title="Google +"><img src="images/soc4.png" alt=""></a>
</div>
*/

/*================================>> Footer <<========================================*/
footer {
  padding:22px 0 26px;
  height:42px;
  background:#e6e7ec
}
footer .social{
  overflow:hidden;
}
footer .social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
footer .social a:first-child{margin: 0 0 0 0;}
footer .social a:hover img{
  margin-top:-32px;
}