.main_obzor__box1{
	width:427px;
}
.main_obzor__box2{
	width:425px;
	padding-left:5px;
}
.main_obzor__box3{
	width:418px;
}
.main_obzor__demo{
	background:#057ec3;
	padding:15px 65px 10px 65px;
	border:1px solid #0061b7;
	border-radius:5px;
	margin-bottom:10px;
}
.main_obzor__view{
	padding-bottom:80px;
}
.main_obzor__demo a{
	color:#fff;
	font:20px Arial;
	padding:20px 13px 10px 10px;
}
.main_obzor__text_p{
	font:18 Arial;
	line-height:18px;
	letter-spacing:-1px;
	padding-left:30px;
}
.font_red{
	color:#f11b19;
}
.font_blue{
	color:#1b599f;
}
.font_green{
	color:#087747;
}
.font_style1{
	font:12px Verdana;
	line-height:18px;
}
.font_style2{
	font:11px Verdana;
	line-height:13px;
}
.main_obzor__box1,.main_obzor__box3{
	padding-right:5px;
}
.main_obzor_list{
	padding-bottom:40px;
}
.main_obzor_list_item{
	padding-left:15px;
}
.obzor_box1_bg{
	background:url(../images/tabs-2_4.png) 0 5px no-repeat;
}
.obzor_box2_bg{
	background:url(../images/tabs-2_5.png) 0 5px no-repeat;
}
.obzor_box3_bg{
	background:url(../images/tabs-2_6.png) 0 5px no-repeat;
}
.main_obzor__title1{
	color:#1b599f;
	border-bottom:1px solid #1b599f;
	
}
.main_obzor__title2{
	color:#087747;
	border-bottom:1px solid #087747;
}
.main_obzor__title3{
	color:#f11b19;
	border-bottom:1px solid #f11b19;
}

.main_obzor__title1,.main_obzor__title2,.main_obzor__title3{
	line-height:24px;
}
/*Галлерея*/
.gallery{
	width:228px;
	padding-left:10px;
	text-align:center;
}
.gallery_list{
	padding-top:25px;
}
.gallery__list_item{
	width:704px;
	
}
.gallery_img{
	display:inline-block;
	border:5px solid #fafafa;
	background:url(../images/gallery_1.png)no-repeat;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5) ; 
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.5); 
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.5); 
	filter: progid:DXImageTransform.Microsoft.dropshadow(offX=1, offY=1, color=#000000);
}

.gallery_img:hover{
	border:5px solid #78c3d6;
}
h5.gallery_title{
	padding:15px 0 25px 0;
}
 h5.gallery_title a{
	font:14px Verdana;
	color:#2162af;
	text-decoration:underline;
}
h5.gallery_title a:hover{
	text-decoration:none;
	color:#2162af;
}
/*news*/
.content_news{
	border-top:1px solid #cccccc;
	padding:20px 0 17px 0;
}
.content_last{
	border-bottom:1px solid #cccccc;
}
.container_news{
	padding-left:18px;
}
.container_img{
	width:130px;
	padding-top:3px;
	
}
 h1.news_title1{
	padding-bottom:20px;
}
.link_news_item{
	padding-left:10px;
	background:url(../images/news_10.png)0 5px no-repeat;
}
.container_news_list_item2{
	padding:10px 0 2px 0;
}
.container_news_list_item1{
	color:#78c3d6;;
	
}
.container_news_list_item3{
	padding:3px 3px;
}
	/*Single news*/
.quote_box{
	border-bottom:1px solid #cccccc;
	padding:20px 0 15px 0;
	margin-bottom:25px;
}
.quote_box  p.fn_style3{
	margin-left:395px;
	margin-top:-5px;
}
h1.singl_news_title1{
	padding-bottom:5px;
}
.single_news_list{
	padding:10px 0 20px 0;
}
.single_news_list_item{
	padding-left:10px;
	background:url(../images/single_news_2.png)0 5px no-repeat;
}
.fn_single_news{
	padding-left:25px;
	background:url(../images/single_news_3.png) no-repeat;
}	
.fn_style2{
	color:#939393;
	font-style:italic;
}
.fn_style3{
	color:#898989;
	font-style:italic;
	
}
.single_news_img{
	padding:10px 0 30px 0;
}
.fn_style4{
	color:#78c3d6;
}
/*О нас*/

.container_about_img{
	width:304px;
	padding:0 0 30px 20px;
}
.container_about span{
	color:#1b599f;
}
.container_about .font_style1{
	color:#898989;
}
.tabs_about_list.ui-tabs-nav li:first-child{
width: 150px;
}
.tabs_about_list.ui-tabs-nav li:nth-child(3n){
width: 432px;
}
.fn_style7{
	letter-spacing:-1px;
}
.smart_about_title1{
	padding-bottom:20px;
}
/*часто задаемые вопросы*/
.questions_title2{
	padding:5px 0 10px 10px;
	background:#1b599f;
	color:#fff;
	height:33px;
}
.tabs_questions_list.ui-tabs-nav li:first-child{width: 154px;}
.container_questions p{
	padding:14px 0 10px 40px;

}
.fn_style5{
	font:12px Verdana;
	line-height:18px;
}
h1.questions_title1{
	padding-bottom:25px;
}
/*Отзывы и предложения*/
.testimonials_box{
	border-top:1px solid #cccccc;
	padding-top:10px;
}
.testimonials_box_img{
	width:62px;
	margin-right:15px;
}
.tabs_testimonials_list.ui-tabs-nav li:first-child{
	width:181px;
}
.tabs_testimonials_list.ui-tabs-nav li:nth-child(3n){
	width:445px;
}
.testimonials_box_quote{
	background:url(../images/single_news_3.png) no-repeat;
	padding: 5px 0 12px 25px;
}
.fn_style6{
	font:14px Verdana;
	line-height:18px;
	letter-spacing:0.5px;
}
h1.testimonials_title1, h3.testimonials_title2,.awards_title1{
	padding-bottom:20px;
	color:#000;
}
/*awards Награды*/
.awards_box{
	border-top:1px solid #cccccc;
	padding:20px 0 25px 0;
}
.awards_box_text{
	padding-left:18px;
}
/*Customers*/
.customers_list_item_img{
	padding-left:60px;
}
.customers_list p{
	margin:6px 0 26px 0;
}
h3.customers_title1{
	color:#000;
	padding-bottom:25px;
}
h5.customers_title2{
	padding-bottom:25px;
}
.p_left_first{
	padding-left:15px;
}
/*Products*/
.container_products{
	width:300px;
}
.container_products_list_item: after, .container_products_list_item: before{
    display:block;
    position:absolute;
    height:1px;
    width:200px;
    bottom:5;
    background:#000;
    content:"";
}
.container_products_list_item: after{
	right:0;
}
.container_products_list_item: before{
	left:0;
}



.tabs_product_list.ui-tabs-nav li:first-child{
	width:205px;
}
.tabs_product_list.ui-tabs-nav li:nth-child(3n){
	width:400px;
}
.tabs_product_list.ui-tabs-nav li:nth-child(2n){
	width:105px;
}


